@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #68d8d6, #ffffff);
    color: #454749;

    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
}

table {
    background: white;
}

.table {
    margin-top: 10px;
    box-shadow: 0px 0px 3px 5px black;
    box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.2), 0 .25rem .25rem rgba(0, 0, 0, 0.2);
}

.tile {
    background-color: #ffffff;
    border-radius: .1rem;
    box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.2), 0 .25rem .25rem rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    margin: 0 auto;
    min-width: 500px;
    max-width: 24rem;
    overflow: hidden;
    padding: 2rem;
}

.center {
    margin: 2% 10% 0;
}

footer {
    background-color: #454749;
    color: #ffffff;
    margin-top: 7%;
    width: 100%;
    height: 150px;
    font-size: 135%;
}

footer p {
    margin-top: 1%;
    color: #888;
    text-align: center;
}

footer ul {
    margin: 20px auto;
    margin-top: 30px;
    padding: 0px;
    display: block;
    text-decoration: none;
    width: 267px;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding:0 5px;
}

footer ul li a{
    display: block;
    /* background-color: #828282; */
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 26px;

}

ul li a i{
    color: #fff;
    padding: 6px 0px 0px 8px;
}

.gplus:hover {
    transition-duration: 1s;
    color: #dd4b39;
}

.github:hover{
    transition-duration: 1s;
    color: #333;
}

.medium:hover{
    transition-duration: 1s;
    color: #00ab6c;
}

.linkedin:hover{
    transition-duration: 1s;
    color: #0077b5;
}

.twitter:hover{
    transition-duration: 1s;
    color: #1da1f2;
    /* background-color: #fff; */
}

footer ul li a:hover {
    transition-duration: 1.0s;
    /* background-color: #252b33; */
} 

/* .container{
    width: 100vw;
} */
